.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.project-img {
  width: 300px;
  height: 425px;
  border-radius: 25px;
}

.icons,
i {
  width: 48px;
  height: 48px;
  animation: float 9s ease-in-out infinite;
}

.nav {
  z-index: 1;
  top: 0px;
  position: fixed;
  display: flex;
  color: white;
  width: 100%;
  height: 67px;
  background: rgb(33, 37, 41);
  justify-content: space-around;
  align-items: center;
}

.intro {
  color: white;
  position: relative;
  top: -110px;
  font-family: 'Bowlby One SC', cursive;
  font-size: 24px;
}
.overlay {
  width: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
}
.propic {
  width: 164px;
  height: 256.5px;
  margin: 30px auto 16px auto;
  border-radius: 80px;
}

.bio {
  margin: 0 auto;
  width: 80%;
  padding: 5px 35px 25px;
  font-family: 'Overlock', cursive;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.icon-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.main-container {
  width: 100%;
  height: 100vh;
}

.background-img {
  width: 100%;
  height: 100%;
  background-image: url('img/nycbg1.jpg');
  background-size: cover;
  background-position: center;
}

.cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.about {
  width: 100%;
  height: 90vh;
  background: #343a40;
}

.project {
  margin: 15px;
  width: 300px;
  /* overflow-x: auto; */
  color: white;
}
.project-img:hover {
  animation: float 1s ease-in-out infinite;
}

.works {
  height: 100%;
  background: #343a40;
}

.works-container {
  height: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.contact-page {
  background: #343a40;
  height: 90vh;
  width: 100%;
  
  
}
.contact-form {
  margin: 0 auto;
  background: #343a40;
  width: 35%;
}
.form-control:hover {
  border: 1px solid rgb(0, 255, 38);
}
.form-control {
  background-color: rgba(208, 208, 208, 0.838);
  transition: background-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
h1, h4 {
  color: white;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}

h1 {
  padding-top: 30px;
  margin: 0 0 45px 0;
}