/* .App {
  text-align: center;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.project-img {
  width: 300px;
  height: 400px;
  border-radius: 25px;
}

.icons {
  width: 48px;
  height: 48px;

}
.express-icons {
  width: 100px;
  height: 36px;
}

.icon-box {
  display: flex;
}
.propic {
border-radius: 45px;
width: 144px;
height: 192px;
}
